.btn {

  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    color: $white;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 1.9rem;

    @mixin tabPort {
      padding: 1rem 1.7rem;
      font-size: 1rem;
    }

    @mixin bigDesktop {
      font-size: .9rem;
      padding: .8rem 1.5rem;
    }
  }

  &--yellow {
    background-color: $color-secondary;
  }

  &--blue {
    background-color: $color-primary;
  }
}