.dropbox {
  position: absolute;
  top: 3.8rem;
  left: 0;
  background-color: $color-secondary;
  padding: 1rem;
  width: 10.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;

  &__list {
    list-style: none;

    &:not(:last-child) {
      padding-bottom: .8rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      font-size: 1rem;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.nav__item:nth-child(3):hover .dropbox {
  visibility: visible;
  opacity: 1;
  top: 1.8rem;
}